@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: white;
}

#top-section {
  height: 66.5%;
  padding: 5px;
}

#bottom-section {
  height: 33.5%;
  padding: 5px;
  display: flex;
  justify-content: center;
}

#element-type {
  color: #111144;
}

.code-box {
  padding: 10px;
  background-color: #dddddd;
  border-radius: 10px;
  border-width: 2px;
  border: black;
  display: flex;
  flex-direction: row;
}

#styles {
  flex-grow: 1;
  font-family: "Source Code Pro", monospace;
}

button {
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #222222;
  }

  .code-box {
    color: #bfbfbf;
    background-color: #333333;
  }
}
