.card {
  margin: 10%;
  padding: 10px;
  color: #bfbfbf;
  background-color: #333333;
  border-radius: 10px;
  border-width: 2px;
  border: black;
  width: 80%;
  min-height: 100px;
  height: fit-content;
  font-family: "Source Code Pro", monospace;
  display: flex;
  flex-direction: row;
}

#styles {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
